.form {
    background-color: #d6e6ee;
    padding: 1rem;
    width: 20rem;
    /* margin: auto; */
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    /* margin: 2rem auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
}

.form label {
    display: block;
    margin-bottom: 1rem;
    color: #444;
    font-weight: bold;
    text-align: left;
}

.form input,
.form textarea,
.form select {
    display: block;
    width: 95%;
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: #ffffffbd;
    color: #28262c;
}

.form select {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.form h3 {
    font-weight: bold;
    color: #444;
    font-size: 1.2rem;
    margin-top: 0;
    border-bottom: 1px solid #444;
    padding-bottom: 0.6rem;
}

.actions .button {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    border: 1px solid #d6e6ee;
    background-color: #fff;
    color: #444;
    text-decoration: none;
    display: flex;
    background-color: unset;
    border-radius: 8px;
    border: 1px solid transparent;
}

.actions .button:hover {
    color: #d6e6ee;
    background-color: #fff;
}

.actions button[type="button"]:hover {
    /* color: #d6e6eeb9; */
}