.posts {
    list-style: none;
    max-width: 90%;
    margin: 1rem auto;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px;
    /* display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 100%);
  justify-content: center; */
}